<audio id="chatAudio" style="display:none"><source src="#appResource.notify.ogg#" type="audio/ogg"><source src="#appResource.notify.mp3#" type="audio/mpeg"><source src="#appResource.notify.wav#" type="audio/wav"></audio><div class="right-box col-8"><div id="rightBoxContent" class="wrapper-right">< !-- Content --></div></div><style>

/*----------Start ChatBox----------*/
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #e1e4ea;
  background: #adbcd1;
}

#search-box {
  width: 400px;
  height: 30px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  margin: 4px 0;
}

:root {
  --bg-color: #EDF1F4;
}

/*#chatSection .form-column .form-cell-value.form-cell-full {*/
/*    padding-top: 0 !important;*/
/*}*/

.msg-item:last-child {
  margin-bottom: 24px;
}

body #form-canvas .form-cell-value,
body #form-canvas .subform-cell-value,
body #form-canvas .selector_element,
body #form-canvas .form-fileupload,
body #form-canvas .subform-fileupload,
body #form-canvas .grid,
body #form-canvas .spreadsheet_container,
body #form-canvas .calculationField_value {
  padding-top: 0 !important;
}

/* Notes: Beware id*/
#omni_livechat .layui-fluid,
#omni_livechat main,
#omni_livechat footer {
  padding: 0;
}

#omni_livechat .ui-html.ql-editor {
  border-radius: 0;
}

#omni_livechat .x-nav {
  display: none;
}

#omni_livechat .viewForm-body-content {
  padding: 0 !important;
}

#omni_livechat #chatSection {
  height: 100%;
  padding: 0 !important;
}

#omni_livechat .form-column {
  padding: 0 !important;
}

#omni_livechat #form-canvas {
  height: 100vh;
}

#omni_livechat #sp_live_chat {
  height: 100%;
}

#customer_detail .viewForm-body-content {
  filter: blur(2px);
}

/*Hide Save Button*/
#section-actions {
  display: none;
}

/* Remove Outline Textarea */
body .ql-container.ql-bubble.focus {
  border-radius: 4px;
  border-color: transparent !important;
  box-shadow: none !important;
}

body .ql-container.ql-bubble {
  border: none;
}

textarea#richInput {
  margin: 0;
  flex: 1;
  border-radius: 4px;
  border-color: transparent !important;
  box-shadow: none !important;
  border: none;
}

.form-cell.wrapperRight {
  position: static !important;
  padding: 16px !important;
  background: var(--bg-color);
}

.row {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.left-box.col-2 {
  position: relative;
  z-index: 1;
  width: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 99vh;
}

.leftBoxFooter {
  height: 64px;
  position: absolute;
  background: #fff;
  bottom: -14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px rgba(9, 30, 66, .12);
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 7px;
}

.table-toggle {
  background: #ebeff3;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  text-align: center;
}

.table-toggle__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  font-size: 14px;
  color: #576c7d;
}

.toggle-active {
  background-color: #fff;
  color: #266fdc;
}

.collapse-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  text-align: center;
  padding: 4px;
  height: 23px;
  cursor: pointer;
  border: solid 1px #cfd7df;
  border-radius: 8px;
  color: #576c7d;
  margin: auto 0;
  background: linear-gradient(180deg, #fff 2.56%, #f3f5f7 95.75%);
}

.right-box.col-8 {
  position: relative;
  width: 100%;
  height: 93.4vh;
  z-index: 0;
  border-radius: 6px;
  overflow: hidden;
  background: #f6f7f9;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/* -----Right Box Overlay-----*/
.right-box__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 72px;
  font-weight: 800;
  background: var(--tickets-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-box__overlay img {
  height: 60px;
}

.right-box__overlay i:before {
  font-size: 72px !important;
}

/* -----Left Content----- */
.leftBoxTitle {
  align-items: center;
  background-color: #fff;
  border-bottom: solid 1px rgba(9, 30, 66, .12);
  display: flex;
  height: 55px;
  justify-content: space-between;
  padding: 8px;
}

.conversation-count {
  color: #fff;
  display: flex;
  background-color: #475867;
  padding: 3px 11px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all .2s linear;
  font-weight: 700;
  height: 10px;
}

.leftBoxTitle__text-wrapper {
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  overflow: hidden;
  padding: 8px;
  transition: .3s;
  flex-grow: 1;
}

.leftBoxTitle__text-wrapper:hover {
  background-color: #ebeff3;
}

.leftBoxTitle__text {
  font-size: 14px !important;
  color: #081c36;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.leftBoxTitle__seach {
  display: none;
  padding: 4px 8px;
  overflow: hidden;
}

.cls_selectAgent {
  display: inline-grid;
  width: 100px;
}

.search_button_class:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.search_button_class {
  align-items: center;
  background: linear-gradient(180deg, #fff 2.56%, #f3f5f7 95.75%);
  border: 1px solid #cfd7df;
  border-radius: 4px;
  display: flex;
  height: 32px;
  justify-content: center;
  position: relative;
  width: 32px;
}

.DongTickets_button_class:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.DongTickets_button_class {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.leftBoxTitle__actions {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
  gap: 15px;
  padding: 8px;
  position: relative;
  flex-grow: 1;
}

.leftBoxTitle__action-item {
  align-items: center;
  background: linear-gradient(180deg, #fff 2.56%, #f3f5f7 95.75%);
  border: 1px solid #cfd7df;
  border-radius: 4px;
  display: flex;
  height: 32px;
  justify-content: center;
  position: relative;
  width: 32px;
}

.leftBoxTitle__action-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.filter-message {
  align-items: center;
  background-color: #f5f7f9;
  display: flex;
  height: 24px;
  line-height: 1.8;
  padding-left: 16px;
}

.filter-message i {
  margin-right: 15px;
}

.wrapper-left {
  max-height: calc(100vh - 100px);
  overflow: hidden;
  overflow-y: auto;

  box-sizing: border-box;
  border-top: 1px solid #ddd;
}

.msg-item {
  width: 100%;
}

.msg-item.unread .conv-item__name,
.msg-item.unread .conv-item-body__main {
  font-weight: 700;
  color: #081c36;
}

.msg-item.unread .count-unread {
  color: #FFF;
  font-weight: 600;
  border-radius: 50%;
  padding: 2px 4px;
  background: red;
  box-sizing: border-box;
  min-width: 10px;
  min-height: 10px;
}

.conv-item {
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.1s ease;
  border-bottom: 1px #ccc solid
}

.conv-item.sla_out {
  /*background: #F5D6D4;*/
  /* background: rgba(255, 0, 0, 0.2); */
  background: #fff;
}

.conv-item.sla_soon {
  /*background: #FFEFD5;*/
  background: rgb(255, 215, 0, 0.2);
}

.conv-item:hover {
  background-color: #f3f5f6;
  border-left: 10px solid #088f8f;
}

.conv-item.active {
  background-color: #e5efff;
  border-left: 10px solid #088f8f;
}

.conv-item__avatar {
  min-width: 48px;
  max-width: 48px;
  position: relative;
}

.conv-item__avatar img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--surface-background, #e6e8ea);
  color: var(--text-secondary, #7589a3);
  overflow: hidden;
  border: 1px solid #9d9c9c;
  box-sizing: border-box;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.conv-item__avatar i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1771e6;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 2rem !important;

  min-width: 48px;
  max-width: 48px;
  border: 1px solid;
  border-radius: 999px;
  padding: 10px 0px;
  background: #FFF;
  border-color: #dddd;
}

.conv-item__avatar i.sla_out {
  border-color: var(--red) !important;
  border: 2px solid;
}

.conv-item__avatar i.sla_soon {
  border-color: var(--deals-color) !important;
  border: 2px solid;
}

.conv-item-body {
  font-size: var(--text-chat-size);
  flex-direction: column;
  margin-left: 8px;
  /*gap: 8px;*/
  gap: 0;
  flex: 1;
}

.conv-item-body .conv-item__name {
  display: flex;
  color: #081c36;
  text-overflow: ellipsis;
  font-size: var(--text-chat-size);
  font-weight: 500;
  font-size: var(--text-chat-size);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.tage_type {
  background: none;
  color: var(--white);
  padding: 0px;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 0.8rem !important;
  line-height: 1.6;
  text-align: center;
  width: 24px;
  height: 24px;
}

.conv-item-body__main {
  font-size: var(--text-chat-size);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  display: flex;
}

.conv-item__more {
  gap: 4px;
  justify-items: flex-end;
  align-self: flex-start;
  font-size: .9rem;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  width: 100px;
}

.conv-item__info {
  display: flex;
  flex-direction: column;
}

.conv-item__more .conv-item__more-time {
  text-align: end;
}

.conv-item__more-time span {
  font-style: italic;
}

.conv-item__more-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conv-item__more-item i {
  font-size: 1.2rem !important;
}

.conv-item__more .conv-item__more-info {
  align-self: center;
  font-size: 1.2rem !important;
}

/*.conv-item__more-assign {*/
/*    margin-left: 4px;*/
/*}*/

.conv-item__name,
.conv-item__more {
  overflow: hidden;
}

.conv-item-body__main,
.conv-item__more {
  font-weight: 400;
  line-height: 1.5;
  line-height: 18px;
  color: var(--text-secondary, #7589a3);
}

/* ----- Right Content ----- */
.middle-pane-filter {
  position: sticky;
  top: -4px;
  height: 30px;
  align-items: center;
  display: flex;
  width: 100%;
  background: #f5f6f9;
  ;
}

.pane-filter__item {
  cursor: pointer;
  color: #264966;
  margin-left: 19px;
  display: flex;
  align-items: center;
}

.pane-filter__item span {
  font-weight: 500;
}

.pane-filter__item i {
  margin: 0 4px;
}

header.header {
  position: relative;
  z-index: 1;
  background-color: #FFF;
  align-items: center;
  gap: 8px;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
  height: 50px;
}

.header__title {
  flex-direction: column;
  flex: 1;
}

.header__avatar {
  min-width: 48px;
  max-width: 48px;
}

.header__avatar i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1771e6;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 3rem !important;
}

.header__avatar img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--surface-background, #e6e8ea);
  color: var(--text-secondary, #7589a3);
  overflow: hidden;
  border: 1px solid #9d9c9c;
  box-sizing: border-box;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.header__title__name {
  font-size: var(--text-chat-size);
  font-weight: 600;
  height: 20px;
  color: var(--text-primary);
  padding-left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
  cursor: default;
  overflow: visible;
}

.header__title__type {
  font-size: var(--text-chat-size);
  color: var(--text-secondary);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.header__title-tag {
  background: #f5f7f9;
  border-radius: 4px;
  color: #475867;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  padding: 0 4px;
}

.header__action__item {
  cursor: pointer;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.header__action__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header__drop-btn {
  background-image: linear-gradient(to bottom, #264966, #12344d);
  color: white;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.header__drop-btn:hover {
  opacity: 0.9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  bottom: -250px;
  border-radius: 5px;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span i {
  margin-right: 5px;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropdown__show {
  display: block;
}

.panel-dropdown {
  position: relative;
  display: inline-block;
}

.panel-dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  bottom: -250px;
  border-radius: 5px;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.panel-dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.panel-dropdown-content span i {
  margin-right: 5px;
}

.panel-dropdown a:hover {
  background-color: #ddd;
}

.panel-dropdown__show {
  display: block;
}

.wrapper-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.wrapper-right article {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: calc(100vh - 68px);
}

.message-view {
  flex: 1 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.message-view__blur__overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /* background: hsla(0,2%,90%,.43); */
  contain: strict;
}

.message-view__scroll {
  position: absolute;
  padding: 12px;
  overflow-y: auto;
  inset: 0px;
  will-change: transform;
}

.message-separator {
  border-top: 1px solid #ccc;
  margin: 10px 20px;
  position: relative;
}

.message-separator__date {
  position: absolute;
  var(--text-secondary, #7589a3);
  background-color: #f5f6f9;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 0 10px;
}

.message-view__scroll__inner {
  position: relative;
}

/* ----- Message View ----- */
.chat-item {
  gap: 8px;
}

.chat-item+.chat-item {
  margin-top: 18px;
}

.chat-item.me {
  flex-direction: row-reverse;
}

.chat-item.me>i {
  color: var(--success-color, #7589a3);
}

.chat-item.me .chat-item__content {
  /*color: #FFF;
    background-color: #0084ff;*/
  color: #2E3841;
  background: #fff;
  border-radius: 30px 5px 15px 30px;
  padding: 4px 10px 4px 12px;
}

.chat-item__avatar img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--surface-background, #e6e8ea);
  color: var(--text-secondary, #7589a3);
  overflow: hidden;
  border: 1px solid var(--WA100, #fff);
  box-sizing: border-box;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.conv_secondary-avatar img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--surface-background, #e6e8ea);
  color: var(--text-secondary, #7589a3);
  overflow: hidden;
  border: 1px solid var(--WA100, #fff);
  box-sizing: border-box;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.chat-item__avatar i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1771e6;
  box-sizing: border-box;
  font-size: 3rem !important;
}

.chat-item__content {
  display: flex;
  align-items: center;
  font-size: var(--text-chat-size);
  line-height: 1.5;
  /*background-color: #FFFF;
    color: #333;*/
  background: #BBDCFD;
  color: #2E3841;
  border-radius: 5px 30px 30px 15px;
  min-width: 40px;
  max-width: 30vw;
  padding: 4px 12px 4px 10px;
  text-shadow: 0 0 0 #000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
}

.chat-item__content>div {
  width: 100%;
}

.chat-item__content p img {
  width: 100%;
}

.send-status {
  font-size: 0.75rem;
  align-self: flex-end;
}

.send-time {
  font-size: .9rem;
  text-shadow: none;
  align-self: flex-start;
  font-style: italic;
}

.send-status {
  color: #bcc0c4;
  font-size: 1.2rem;
}

/* ----- Input ----- */
.chat-input {
  width: 100%;
}

.chat-input__content {
  display: flex;
  justify-content: flex-end;
  /*gap: 16px;*/
  border-top: 1px solid #d6dbe1;
  background-color: #fff;
  flex-direction: column;
}

.chat-input__content.focus {
  border-top-color: #0065f7;
}

.chat-input__content-actions {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d6dbe1;
}

.chat-input__btn-group {
  display: flex;
}

.rich-input {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  min-height: 16px;
  max-height: 182px;
  justify-content: center;
  flex-direction: column;
  font-size: var(--text-chat-size);
  font-weight: 400;
  line-height: 1.5;
  padding: 12px 10px 18px 16px;
  overflow: auto;
  flex: 1 1 auto;
  position: relative;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

.rich-input::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #7f7f7f;
}

.rich-input::-webkit-scrollbar-track {
  background: none;
}

.rich-input::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
  position: absolute;
  right: 0;
}

.rich-input:focus {
  border: none;
  outline: none;
}

.rich-input.empty::before {
  content: attr(placeholder);
  cursor: text;
  background: none;
  color: var(--text-secondary);
  display: block;
  position: absolute;
  padding-top: 5px;
  left: 16px;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

#richInput {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  min-height: 50px;
  max-height: 182px;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  font-size: var(--text-chat-size);
  font-weight: 400;
  line-height: 1.5;
  padding: 12px 10px 0 16px;
  overflow: auto;
  flex: 1 1 auto;
  position: relative;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

#richInput::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #7f7f7f;
}

#richInput::-webkit-scrollbar-track {
  background: none;
}

#richInput::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
  position: absolute;
  right: 0;
}

#richInput:focus {
  border: none;
  outline: none;
}

#richInput.empty::before {
  content: attr(placeholder);
  cursor: text;
  background: none;
  color: var(--text-secondary);
  display: block;
  position: absolute;
  padding-top: 5px;
  left: 16px;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

#richInput>div:first-child {
  padding-top: 5px;
}

.rich-input>div:first-child {
  padding-top: 5px;
}

.chat-input-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1.3rem !important;
  color: #264966;
  font-weight: 500 !important;
  line-height: 1 !important;
}

.chat-send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1.3rem !important;
  color: #0068FF;
  font-weight: 500 !important;
  line-height: 1.5;
}

.chat-send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1.3rem !important;
  color: #FFF !important;
  background-image: linear-gradient(to bottom, #264966, #12344d);
  font-weight: 500 !important;
  line-height: 1.5;
}

.send-btn-text {
  color: #FFF !important;
  display: flex;
  gap: 4px;
}

.send-btn-text .sap-send {
  line-height: unset !important;
}

.chat-input-btns:hover {
  opacity: 0.9;
}

.chat-input-btns i:before {
  font-size: 1.3rem !important;
  font-weight: 500 !important;
}

.send-btn,
.clear-btn {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

/* ---- Tag ----- */
.tag {
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
  background-color: #ccc;
  color: #fff;
  text-transform: capitalize;
}

/* ----- Tool bar ----- */
.chat-tool-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 16px;
  background-color: #FFF;
  border-radius: 6px;
}

.tools-wrapper {
  display: flex;
}

.chat-tool-bar__expand-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 5px;
  color: #333333;
  font-size: 1.6rem !important;
  cursor: pointer;
}

.suggest_box {
  position: absolute;
  display: flex;
  top: -50px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 32px;
}

.suggest_box #toggleSuggestBox {
  font-size: 26px !important;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 8px;
  bottom: 0;
  cursor: pointer;
}

.suggest_box .btn.button {
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
  color: #595959;
  border-color: #ddd;
  background-color: #FFF;
  border-radius: 5px;
  font-size: 13px !important;
  font-weight: 600;
}

.suggest_box .btn.button:hover {
  background-color: #f3f3f3;
  opacity: 1;
}

.suggest_box .btn.button+.btn.button {
  margin-left: 10px;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 5px 5px 0 0;
  color: #333333;
  font-size: 1.6rem !important;
  cursor: pointer;
}

.tools:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.tools+.tools {
  margin-left: 4px;
}

.tools i:before {
  font-size: 1.6rem !important;
}

.tool-reply-btn {
  color: #2560ab;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.tool-reply-btn span {
  font-weight: 500;
}

.tool-reply-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ui-html.ql-editor {
  padding: 0;
}

/*----------End ChatBox----------*/
.msg-cha {
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.msg-c {
  margin-left: 10px;
  padding-left: 10px;
}

.msg-c .msg-content {
  border-radius: 10px;
  background-color: #F2F3F5;
  float: left;
}

.x-content {
  margin: 10px;
}

.msg-con {
  clear: both;
}

.msg-name {
  font-weight: bold;
}

.msg-1 {
  color: #101b99;
  font-size: 35px !important;
  float: left;
  margin-top: 5px;
  font-weight: bold;
}

.msg-2 {
  margin-left: 50px;
}

.msg-x {
  margin-right: 30px;
}

.msg-c .msg-time {
  font-size: 10px !important;
  margin-top: -5px;
}

.msg-x .msg-content {
  background-color: #5459e9;
  color: #edeaea;
  border-radius: 10px;
  float: right;
}

.msg-x .msg-content {
  margin-top: 10px;
}

.msg-content,
.msg-content img {
  max-width: 90%;
}

.Center {
  top: 0;
  left: 45%;

}

div[id^='layui-layer'] {
  /*top: 0px !important;*/
}

.layui-layer-setwin {
  right: 15px;
}

.sap-history-chat:before {
  content: '\e030';
}

.classification {
  color: var(--white) !important;
  font-weight: 600;
  padding: 4px 16px;
  border-radius: 6px;
  margin-right: 4px;
}

#inputPhone {
  position: absolute;
  width: 100px;
  transform: translateX(-100px);
}

#inputPhone input {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  border-color: #ddd;
  max-width: 100%;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}

.sap-new-chat:before {
  content: '\e0ab';
}

/* Dialog */
.sap-show:before {
  content: '\e1e9';
}

.sap-hide:before {
  content: '\e1ea';
}

#toggleHide.open {
  background-color: #cce5ff;
  color: #323338;
}

.dialog-wrapper * {
  box-sizing: border-box !important;
  user-select: none;
  -webkit-user-select: none;
}

.dialog-wrapper {
  position: absolute;
  left: 0;
  top: 26px;
  display: none;
}

.dialog-component {
  display: flex;
  background: #FFF;
  min-height: 100px;
  max-height: 160px;
  overflow: hidden;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
  min-width: 264px;
  height: fit-content;
  padding: 0 0 2px 0;
}

.dialog-list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  flex: 1;
}

.dialog-list-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 4px 16px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.dialog-list-item:hover {
  background: #dcdfec;
}

.dialog-button {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.dialog-button span {
  width: 40%;
  margin: 0;
}

.dialog-list-item i {
  font-size: 11px;
  line-height: 11px;
  margin-right: 6px;
}

.dialog-list-item div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0 2px;
  flex: 1;
}

.note_box {
  position: absolute;
  right: 24px;
  top: 12px;
  background: navajowhite;
  min-height: 200px;
  min-width: 200px;
  border-radius: 4px;
  font-size: 1.4rem !important;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

#wrapperPin {
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 0px;
  color: red;
  transform: rotate(45deg);
  z-index: 1;
  transition: all 0.1s ease;
}

#wrapperPin:hover {
  top: -2px;
}

#wrapperPin i {
  font-size: 1.6rem !important;
}

.sap-arrow-up:before {
  content: '\e1f0';
}

.sap-arrow-down:before {
  content: '\e1ef';
}

.sap-arrow-left:before {
  content: '\e1ee';
}

.sap-arrow-right:before {
  content: '\e1ed';
}

#chatSection {
  background: var(--bg-color);
}

.conv-item__message {
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-container {
  background: #fff;
}

.chat-input__content {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.chat-input__content #richInput {
  border-bottom-left-radius: 6px;
}

.file_attachment {
  padding: 4px 8px;
  background: #FFF;
  border-radius: 10px;
  display: flex;
  border: 1px solid #ddd;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.file_attachment:hover {
  border: 1px solid #266fdc;
}

.file_attachment+.file_attachment {
  margin-top: 6px;
}

.file_attachment i {
  padding: 8px 8px;
  font-size: 24px !important;
  color: #576c7d;
}

.file_attachment i.excel {
  background: var(--tasks-color);
}

.file_attachment i.word {
  background: var(--blue-3-color);
}

.file_attachment i.pdf {
  background: var(--dashboard-color);
}

.file_attachment i.powerpoint {
  background: var(--deals-color);
}

.file_attachment i.audio {
  color: var(--text-color);
  background: var(--white);
}

.i-active {
  background-color: rgba(0, 0, 0, 0.06);
  color: #03488c;
}

.upload-container {
  display: none;
}

.vertical-tabs {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 10px;
}

.collapse-expand__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-tabs__collapse {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  height: 20px;
  justify-content: center;
  margin: 5px 8px 5px 2px;
  border: solid 2px #264966;
  padding: 0;
  width: 20px;
  cursor: pointer;
  color: #264966;
}

.vertical-tabs__item {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  display: flex;
  height: 32px;
  justify-content: center;
  margin: 5px 8px 5px 2px;
  padding: 0;
  width: 32px;
  cursor: pointer;
  color: #264966;
}

.vertical-tabs__item i {
  font-size: 16px !important;
}

.vertical-tabs__item:hover {
  background-color: #fff;
}

.tabs-separator {
  border-top: 1px solid #ccc;
  margin: 0 6px 0 0;
}

</style>